body {
  color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-position-x: -300px; */
  background-size: 100%;
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
}

.form-control {
  height: 41px;
  background: #f2f2f2;
  box-shadow: none !important;
  border: none;
}

.form-control:focus {
  background: #e2e2e2;
}

.form-control,
.btn {
  border-radius: 3px;
}

.signup-form,
.login-form,
.gasBooking-form,
.viewAllBookings-form,
.cancelBookings-form {
  width: 390px;
  margin-left: 15%;
  margin-top: 3%;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#gasBooking-form{
  min-height: 270px;
}

.signup-form form,
.login-form form,
.gasBooking-form form,
.viewAllBookings-form form,
.cancelBookings-form form {
  color: #999;
  border-radius: 4%;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signup-form h2,
.login-form h2,
.gasBooking-form h2,
.viewAllBookings-form h2,
.cancelBookings-form h2 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
}

.signup-form hr {
  margin: 0 -30px 20px;
}

.signup-form .form-group,
.login-form .form-group,
.gasBooking-form .form-group,
.viewAllBookings-form .form-group,
.cancelBookings-form .form-group {
  margin-bottom: 20px;
}

.signup-form .row div:first-child {
  padding-right: 10px;
}

.signup-form .row div:last-child {
  padding-left: 10px;
}



.signup-form a,
.login-form a,
.gasBooking-form a,
.viewAllBookings-form a,
.cancelBookings-form a {
  color: #fff;
  text-decoration: underline;
}

.signup-form a:hover,
.login-form a:hover,
.gasBooking-form a:hover,
.viewAllBookings-form a:hover .cancelBookings-form a:hover {
  text-decoration: none;
}

.signup-form form a,
.login-form form a,
.gasBooking-form form a,
.viewAllBookings-form form a,
.cancelBookings-form form a {
  color: #3598dc;
  text-decoration: none;
}

.signup-form form a:hover,
.login-form form a:hover,
.gasBooking-form form a:hover,
.viewAllBookings-form form a:hover,
.cancelBookings-form form a:hover {
  text-decoration: underline;
}

.signup-form .hint-text,
.login-form .hint-text {
  padding-bottom: 15px;
  text-align: center;
  background: transparent;
}

.login-form {
  margin-top: 12%;
}

.gasBooking-form,
.viewAllBookings-form,
.cancelBookings-form {
  margin-top: 15%;
  min-width: 450px;
  min-height: 300px;
}

.displayMessage {
  display: none;
}

.container {
  height: 700px;
  width: 500px;
  margin-top: 10%;
  margin-left: 10%;
}

.bookingContainer {
  width: 40%;
}
